h1   {text-align: center;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  border: 3px solid black;
  padding: 10px;
  
}
h3   {text-align: center;}
.photo {
    height: 200px;
    width: 200px;
    
  }

.centerimage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.flex-gap {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    text-align: "center";
  }